#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.music-button {
    position: fixed;
    top: 9px;
    left: 95px; 
    z-index: 10; 
    font-size: 40px;
    background-color: #ff3f8c;
    border: solid;
    border-radius: 50%;
    border-color: #fff;
    padding: 9px 11px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0px #7c16d0,
    2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.music-button:hover {
    background-color: #a33cfd;
}

.settings-link {
    position: fixed;
    top: 9px;
    left: 180px;  
    z-index: 10; 
    font-size: 30px;
    background-color: #ffffff;
    padding: 20px 15px 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 2px rgba(174, 1, 255, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.menu-container {
    position: relative; 
    display: inline-block;
  }
  
  .settings-button {
    position: fixed;
    top: 10px;
    left: 10px;  
    z-index: 10; 
    font-size: 40px;
    background-color: #ff3f8c;
    border: solid;
    border-radius: 50%;
    border-color: #fff;
    padding: 9px 11px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0px #7c16d0,
    2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
  }
  
  .settings-button:hover {
    background-color: #a33cfd;
  }
  
  .dropdown-menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #729cff;
    color: #fff;
    text-shadow: 1px 1px 0px #7c16d0,
    2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .menu-container:hover .dropdown-menu {
    display: block; 
  }
  
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff3b2;
    overflow-x: hidden;
}
  
#game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas:
      "a b"
      "a b";
}
#imageclass{
    grid-area:b;
}

#image1 {
    width:100%;
    max-width: 600px;
    height: auto;
    margin:0 auto 0 500px;
    border-radius: 50%;
    box-shadow: 15px 0px 30px rgba(0, 0, 0, 0.8);
}

.content {
    grid-area: a;
    position: absolute;
    top: 10%;
    left: 13%;
    
}

    .header {
        font-size: 34px;
          font-family: 'times new roman', cursive;
          color: #ffffff;
          text-shadow: 2px 2px 0px  #3700ad;
            background-color: rgba(254, 46, 139, 0.3);
            border-left: dotted;
            border-right: dotted;
            border-radius: 15px;
            padding: 10px 0px 10px 23px;
            width: 380px;

        }

   .text {
    align-items: left;
    background-color: rgba(254, 46, 139, 0.3);
    padding: 40px 30px;
    font-size: 30px;
    color: white;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 0px #3700ad;
    border-radius: 25px 100px / 100px;
    width: 350px;
}

.image {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    border: solid;
    border-radius: 50%;
    border-color: #fff;
    box-shadow: 8px 0px 30px rgba(255, 242, 0, 0.9);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.2);
}


/* Media queries för paddor */
@media (min-width: 768px) and (max-width: 1300px) {
    #game-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    #image1 {
        max-width: 30%;
    }

    .header {
        font-size: 28px;
    }

    .text {
        font-size: 22px;
        width: 40%;
    }

    .settings-link {
        font-size: 22px;
        top: 9px;
        left: 154px;
    }

    .settings-button{
        font-size: 28px;
    }
    .music-button{
        top: 9px;
    left: 80px; 
        font-size: 30px;
    }
}

/* Media queries för mobiler */
@media (max-width: 767px) {
    #image1 {
        max-width: 30%;
        margin-left: 0;
    }

    .header {
        top: -65px;
        position: absolute;
        font-size: 16px;
        width: 187px
    }

    .text {
        margin-top: 220px;
        font-size: 16px;
        width: 180px;
        padding: 20px 15px 20px 25px;
        border-radius: 25px 60px / 70px;
    }

    .menu-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .music-button,
    .settings-button {
        font-size: 18px;
        padding: 9px 8px;
    }

    .settings-link {
        font-size: 16px;
        top: 9px;
        left: 154px;
    }
    .image {
        width: 60px;
        height: 60px;
    }
}