#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.music-button {
    position: fixed;
    top: 9px;
    left: 90px; 
    z-index: 10; 
    font-size: 40px;
    background-color: #ff3f8c;
    border: solid;
    border-radius: 50%;
    border-color: #fff;
    padding: 9px 11px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0px #7c16d0,
    2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.music-button:hover {
    background-color: #a33cfd;
}

.settings-link {
    position: fixed;
    top: 90px;
    left: 10px;  
    z-index: 10; 
    font-size: 30px;
    background-color: #ffffff;
    padding: 20px 15px 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 2px rgba(174, 1, 255, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
}

.menu-container {
    position: relative; 
    display: inline-block;
  }
  
  .settings-button {
    position: fixed;
    top: 10px;
    left: 10px;  
    z-index: 10; 
    font-size: 40px;
    background-color: #ff3f8c;
    border: solid;
    border-radius: 50%;
    border-color: #fff;
    padding: 9px 11px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0px #7c16d0,
    2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
  }
  
  .settings-button:hover {
    background-color: #a33cfd;
  }
  
  .dropdown-menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #729cff;
    color: #fff;
    text-shadow: 1px 1px 0px #7c16d0,
    2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .menu-container:hover .dropdown-menu {
    display: block; 
  }
  
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff3b2;
}
  
#game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas:
      "a b"
      "a b";
}
#imageclass{
    grid-area:b;
}

#image1 {
    margin-left: 500px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 15px 0px 30px rgba(0, 0, 0, 0.8);
}

.content {
    grid-area: a;
    position: absolute;
    top: 10%;
    left: 13%;
    
}

    .header {
        font-size: 34px;
          font-family: 'times new roman', cursive;
          color: #ffffff;
          text-shadow: 2px 2px 0px  #3700ad;
            background-color: rgba(254, 46, 139, 0.5);
            border-left: dotted;
            border-right: dotted;
            border-radius: 15px;
            padding: 10px 0px 10px 23px;
            width: 380px;

        }

   .text {
    align-items: left;
    background-color: rgba(254, 46, 139, 0.5);
    padding: 40px 30px;
    font-size: 30px;
    color: white;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 0px #3700ad;
    border-radius: 0px 100px / 100px;
    width: 350px;
}

